<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Test">


		<groups>
			<run>
				<include name="admin" />
				<include name="professionals" />
			</run>
		</groups>


		<classes>
			<class name="pack.Demo123" />
			<class name="pack.professionals123" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
